body{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff4ea;
  color: #3a3a3a;
  padding: 15px;
}

header{
    text-align: center;
    padding: 10px;
}

.highlight{
    background: #f8cba6;
    padding: 4px 8px;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background: #fff6ef;
    max-width: 500px;
    padding: 25px;
    margin: 40px auto;
    border-radius: 16px;
    box-shadow: 0 10px 30px #f8cba6;
}

button{
    background-color: #f2994a;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 14px;
    cursor: pointer;
}

button:hover{
    background-color: #e28535;
    color: #3a3a3a;
}

#quote {
    color: #6b4f3a;
}

#author {
    color: #6f7f5a;
}

#saved-quotes {
  width: 100%;
  margin-top: 10px;
}

.saved-quote {
  background: #fdf1e7;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border-left: 4px solid #f2994a;
}

.delete-btn {
    background-color: #e45858;
    border: none;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: #d94b4b;
}